[submodule "home/vim/bundle/ctrlp.vim"]
	path = home/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "home/vim/bundle/syntastic"]
	path = home/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "home/vim/bundle/nerdtree"]
	path = home/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/vim/bundle/powerline"]
	path = home/vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline
[submodule "home/vim/bundle/taglist.vim"]
	path = home/vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "home/vim/bundle/vim-airline"]
	path = home/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
