[user]
  name = ccolorado
[color]
  ui = true
[merge]
  tool = vimdiff
[core]
  editor = vim
[diff]
  tool = vimdiff
[push]
  default = simple
[alias]
  ci = commit -v
  co = checkout
  cl = clone
  st = status -s
  df = diff
  lg = log --oneline --decorate --all --graph
