[user]
  name = ccolorado
[color]
  ui = true
[merge]
  tool = vimdiff
[core]
  editor = vim
[diff]
  tool = vimdiff
[push]
  default = simple
[alias]
  ci = commit -v
  co = checkout
  cl = clone
  st = status -s
  df = diff
  lg = log --oneline --decorate --all --graph
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
