extends ruby

snippet ite "some desciption"
it "${1:do something}" do
  expect(${2:result}).to eq(${3:true})
end
endsnippet

snippet itp "responds to desciption"
it "responds to ${1:property}" do
  expect(${2:subject}).to respond_to(${3::$1})
end
endsnippet
